<div class="py-13">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header" align="center">
          <h3 class="mb-0" style="color:red;">Register</h3>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">
              <label for="uname1">Username</label>
              <input type="text" [(ngModel)]="registerUserData.email" name="email" class="form-control rounded-0" required>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" [(ngModel)]="registerUserData.password" name="password" class="form-control rounded-0"  required>
            </div>
            <button type="button" (click)="registerUser()" class="btn btn-primary">Register</button>
            <button   type="button" (click)="loginUser()" class="btn btn-success float-right">Login</button> -->
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    </div>

