<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Appsfab</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav">
        <a class="nav-link"  routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-link"  routerLink="/register" routerLinkActive="active">Register</a>
       <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>        
    </ul>
  </div>
</nav>   -->
<div class="py-70">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <span class="anchor" id="formLogin"></span>
      
      
      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header" align="center">
          <h3 class="mb-0" style="color:white;">Login</h3>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group" >
              <label for="uname1">Username</label>
              <input type="text" class="form-control rounded-0" [(ngModel)]="loginUserData.email" name="email" required>
            </div>
            <div class="form-group" >
              <label>Password</label>
              <input type="password" class="form-control rounded-0" [(ngModel)]="loginUserData.password" name="password" required>
            </div>
            <button   type="button" (click)="loginUser()" class="btn btn-success">Login</button>
            <button   type="button" (click)="registerUser()" class="btn btn-primary float-right">Register</button>
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    </div>


  </div>
</div>  
<div class="container">
  <router-outlet></router-outlet>            
</div>



